* {
  margin: 0;
  padding: 0;
}

body{
  max-width: 100vw;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #0D1117;
  color: white;
  font-size: 1.5rem;
}

.nav-links ul {
  display : flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 2rem;

}

.navbar .nav-links  ul  li a {
  text-decoration: none;
  color: white;
}
.navbar .nav-links  ul  li a:hover {
  color: blue;
  cursor: pointer;
}

.productContainer{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products{
  width: 25%;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border:  1px solid black;
}

.productDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

  